@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

@layer base {
  :root {
    --foreground: theme(colors.stone.800);
    --background: theme(colors.white)
    --scrollbar-thumb: theme(colors.stone.900)
  }

  .dark {
    --foreground: theme(colors.stone.200);
    --background: theme(colors.stone.900)
    --scrollbar-thumb: theme(colors.stone.400)
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}

* {
  margin: 0;
  padding: 0;

  font-family: Macon, Monaco, monaco, Consolas, Lucida Console, monospace;
}

.tooltip > .tooltip-child {
  display: none;
}

.tooltip:hover > .tooltip-child {
  display: block;
}

