@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;

  font-family: Macon, Monaco, monaco, Consolas, Lucida Console, monospace;
}

.title {
  font-size: 1.6em;
}

.tooltip > .tooltip-child {
  display: none;
}

.tooltip:hover > .tooltip-child {
  display: block;
}

.message-container {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  gap: 0.6rem;
  display: flex;
  flex-direction: column-reverse;
  z-index: 10;
}

