.blog-page-banner {
  background-size: cover;
  background-position: center;
  @apply p-4 rounded-xl;
}

.blog-page-content {
  @apply p-4 md:p-0 text-wrap whitespace-pre-wrap;
  font-size: 1em;
  & > h1 {
    @apply my-8;
    font-size: 1.5em;

    &::after {
      content: "";
      height: 1px;
      @apply w-full block bg-stone-100 shadow-md;
    }
  }
  & > h2 {
    @apply my-8;
    font-size: 1.3em;
    &::after {
      content: "";
      height: 1px;
      @apply w-full block bg-stone-100/90;
    }
  }

  & > h3 {
    @apply my-4;
    font-size: 1.2em;

    &::after {
      content: "";
      height: 1px;
      @apply w-full block bg-stone-100/70;
    }
  }

  & > p {
    text-indent: 2em;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: outside;
    box-sizing: border-box;
    padding-left: 2em;
  }

  & > ul {
    list-style-type: square;
    list-style-position: outside;
    box-sizing: border-box;
    padding-left: 2em;
  }

  & > p {
    @apply my-4;
  }

  li {
    @apply mb-2;
    &::marker {
      position: relative;
    }
  }

  code {
    @apply px-1 inline-block bg-red-50 rounded text-left box-border mx-[4px] dark:bg-stone-700/80 dark:text-stone-200;
    text-indent: 0;
  }

  pre[class*="language-"],
  pre[class*="lang-"],
  pre {
    @apply w-full bg-stone-100 dark:bg-stone-800 p-2 block overflow-scroll max-h-96 rounded-md min-h-4;
    scrollbar-color: rgb(68 64 60) rgba(0, 0, 0, 0);

    code[class*="language-"],
    code[class*="lang-"],
    code {
      text-shadow: none;
      background: none;
    }
  }

  a {
    @apply p-0 px-1 relative;

    &:visited {
      @apply text-stone-600 dark:text-stone-400;
    }

    &::after {
      content: "";
      left: 0;
      bottom: 0;
      @apply w-full absolute h-[1px] bg-stone-700 dark:bg-stone-200;
    }
  }

  img {
    @apply block text-center;
  }

  blockquote {
    @apply block text-neutral-500 bg-slate-50/70 dark:bg-stone-800/70 p-0 flex shadow-sm;
    &::before {
      content: "";
      width: 0.3em;
      min-height: fit-content;
      @apply bg-slate-400 dark:bg-slate-600;
    }

    & > p {
      @apply inline-block p-4;
    }
  }

  strong {
    @apply font-bold text-stone-700 dark:text-stone-300 mx-1;
  }

  em {
    @apply italic text-stone-700 dark:text-stone-300 mx-1;
  }

  .darkModePre {
    scrollbar-color: rgb(231 229 228) rgba(0, 0, 0, 0) !important;
  }
}
